<!-- <main>
    <div class="relative overflow-hidden bg-no-repeat bg-cover min-h-screen"
        style="
            background-image: url(https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
            
        "
    >
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75);">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-5xl md:text-6xl xl:text-7xl font-body tracking-tight mb-12 uppercase">
                        Une idée c'est bien <br /><span>la rendre réelle c'est mieux</span>
                    </h1>

                    <h4 class="text-xl py-7 px-3 text-pink-300">
                        Nous développons vos idées en application web <br /> du MVP à la solution digitale sur mesure
                    </h4>
                    <button type="button"
                        class="inline-block px-7 py-3 border-2 border-white text-white font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                        Lancez votre projet
                    </button>
                </div>
            </div>
        </div>
    </div>
</main> -->

<!-- <section class="mb-40"> -->
    <!-- <div class="min-h-screen">
        The hero zone
    </div> -->
    <!-- <div class="relative overflow-hidden bg-no-repeat bg-cover min-h-screen"
        style="
            background-image: url(https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
            
        "
    > -->
        <div class="top-0 right-0 bottom-0 left-0 w-full overflow-hidden bg-fixed"
            >
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-5xl md:text-6xl xl:text-7xl font-body tracking-tight mb-12 uppercase">
                        Une idée c'est bien <br /><span>la rendre réelle c'est mieux</span>
                    </h1>

                    <h4 class="text-xl py-7 px-3 text-pink-300">
                        Nous développons vos idées en application web <br /> du MVP à la solution digitale sur mesure
                    </h4>
                    <button type="button"
                        class="inline-block px-7 py-3 border-2 border-white text-white font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                        Lancez votre projet
                    </button>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </section> -->