.background-item {
    background-image: url(https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    /* background-position:  50%;
    height: 500px; */
}