<!-- Navbar -->
<!-- <header> -->
  <!-- <h1 id="nav-title"><a href="#">F-Overseas Solutions</a></h1> -->
  <!-- <nav> -->
     <!-- <ul> -->
         <!-- <li><a href="#">Obtenir un devis</a></li> -->
         <!-- <li><a href="#">Services</a></li> -->
         <!-- <li><a href="#">Appeler maintenant</a></li> -->
     <!-- </ul> -->
  <!-- </nav>           -->
<!-- </header> -->

<!-- <app-header></app-header>
<div class="mx-auto max-w-7xl px-8 py-8">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<app-navigation></app-navigation>
<app-testimonials></app-testimonials>
<app-contactus></app-contactus>
<app-footer></app-footer>
<router-outlet></router-outlet>