<section class="min-h-screen bg-gray-100 p-0 sm:p-48" id="contactus">
    <div class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl">
        <h2 class="text-2xl font-bold mb-8">
            Contact us
        </h2>
        <p class="mt-2 text-lg text-gray-600">
            Fill the forms below
        </p>
        <div class="mt-8 max-w-md">
            <div class="md:grid md:gap-9 mb-6 md:grid-cols-1">
                <label class="block">
                    <span class="text-gray-700">
                        Name
                    </span>
                    <input name="name" [value]="name$ | async" (change)="updateForm($event)" type="text"
                        class="form-input mt-1 block p-2.5 w-full rounded px-4 py-3" placeholder="Enter the name">
                </label>
                <label class="block">
                    <span class="text-gray-700">
                        Phone Number
                    </span>
                    <input name="phoneNumber" [value]="phoneNumber$ | async" (change)="updateForm($event)" type="tel"
                        class="form-input mt-1 block w-full rounded" placeholder="Enter your phone number">
                </label>
                <label class="block">
                    <span class="text-gray-700">
                        Mail adress
                    </span>
                    <input name="mailAdress" [value]="mailAdress$ | async" (change)="updateForm($event)" type="email"
                        class="form-input mt-1 block w-full rounded" placeholder="Enter you e-mail">
                </label>
                <label class="block">
                    <span class="text-gray-700">
                        What can we do for you ?
                    </span>
                    <textarea name="expectations" rows="4" (change)="updateForm($event)" class="form-input mt-1 block w-full rounded-md resize"
                        placeholder="Explain to us" [value]="expectations$ | async"></textarea>
                </label>
                <button (click)="submit()"
                    class="inline-block px-7 py-3 border-2 border-blue-400 text-black font-medium text-sm leading-snug uppercase rounded hover:bg-teal-400 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>