/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
    display: none;
}
