<!-- <div class="bg-white px-10 dark:bg-gray-900 md:px-20 lg:px-40 bg-local"> -->
<!-- <img src="https://cdn.fs.teachablecdn.com/y7ws7yTMTBaPrPlGmgHk" alt data-target="" > -->
<!-- <nav class="py-10 mb-12 justify-between dark:text-white">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
                <a href="https://f-overseassolutions.fr" class="flex items-center">
                    <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="h-6 mr-3 sm:h-9" alt="F-Overseas S Logo" />
                    <span class="self-center text-3xl font-bold whitespace-nowrap">F-Overseas Solutions</span>
                </a>
            
            <div class="flex items-center">
                <a href="tel:5541251234" class="mr-6 text-xl font-medium text-gray-500 dark:text-white hover:underline">Appeler maintenant</a>
                <a href="#" class="text-xl font-medium text-blue-600 dark:text-blue-500 hover:underline">Obtenir un devis</a>
            </div>
        </div>        
    </nav> -->
<!-- </div> -->

<!-- <section class="mb-40"> -->
<!-- <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
        <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
          <defs>
            <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
              <stop stop-color="#9089FC"></stop>
              <stop offset="1" stop-color="#FF80B5"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>

       -->
<!-- <nav
    class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between"
  >
    <div class="px-6 w-full flex flex-wrap items-center justify-between">
      <div class="flex items-center">
        <button
          class="navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContentY"
          aria-controls="navbarSupportedContentY"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            class="w-5"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
            ></path>
          </svg>
        </button>
        <a class="navbar-brand text-blue-600" href="#!">
          <svg
            class="w-5 h-5 ml-2 lg:ml-0 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              fill="currentColor"
              d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="navbar-collapse collapse grow items-center" id="navbarSupportedContentY">
        <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
          <li class="nav-item">
            <a
              class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
              href="#!"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
              href="#!"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
              >Team</a
            >
          </li>
          <li class="nav-item mb-2 lg:mb-0">
            <a
              class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
              href="#!"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
              >Projects</a
            >
          </li>
        </ul>
      </div>
      <div class="flex items-center lg:ml-auto">
        <button
          type="button"
          class="inline-block px-6 py-2.5 mr-2 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          Login
        </button>
        <button
          type="button"
          class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          Sign up for free
        </button>
      </div>
    </div>
  </nav> -->

<!-- </section> -->

<!-- <section class="mb-40"> -->
<!-- <div class="bg-white px-10 dark:bg-gray-900 md:px-20 lg:px-40 bg-local">
    <nav class="py-10 mb-12 justify-between dark:text-white">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
            <a href="https://f-overseassolutions.fr" class="flex items-center">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="h-6 mr-3 sm:h-9"
                    alt="F-Overseas S Logo" />
                <span class="self-center text-3xl font-bold whitespace-nowrap">F-Overseas Solutions</span>
            </a>

            <div class="flex items-center">
                <a href="#aboutus"
                    class="mr-6 text-xl font-medium text-gray-500 dark:text-white hover:underline">A propos de nous
                    </a>
                <a href="#testimonials" class="text-xl font-medium text-blue-600 dark:text-blue-500 hover:underline">Testimonials</a>
                <a href="#contactus" class="text-xl font-medium text-blue-600 dark:text-blue-500 hover:underline">Obtenir un
                    Teams</a>
                <a href="tel:5541251234"
                    class="mr-6 text-xl font-medium text-gray-500 dark:text-white hover:underline">Appeler
                    maintenant</a>

            </div>
        </div>
    </nav>
</div> -->

<section class="bg-white px-10 dark:bg-gray-900 md:px-20 lg:px-40 bg-local min-h-screen h-auto background-item">
<!-- <img src="https://cdn.fs.teachablecdn.com/y7ws7yTMTBaPrPlGmgHk" alt data-target="" > -->
<nav class="sticky py-10 mb-12 justify-between dark:text-white">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
                <a href="https://f-overseassolutions.fr" class="flex items-center">
                    <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="h-6 mr-3 sm:h-9" alt="F-Overseas S Logo" />
                    <span class="self-center text-3xl font-bold whitespace-nowrap">F-Overseas Solutions</span>
                </a>
            
            <div class="flex items-center">
                <a href="#aboutus" class="mr-6 text-xl font-medium  dark:text-white hover:underline">About us</a>
                <a href="#testimonials" class="mr-6 text-xl font-medium dark:text-white hover:underline">Testimonials</a>
                <a href="#contactus" class="mr-6 text-xl font-medium  dark:text-white hover:underline">Contact us</a>
                <a href="tel:5541251234" class="text-xl font-medium  dark:text-blue-500 hover:underline">Obtenir un devis</a>
            </div>
        </div>        
    </nav>
    <app-hero></app-hero>
</section>
<!-- <app-hero></app-hero> -->
<!-- </section> -->