<main class="bg-white px-10 dark:bg-gray-900 md:px-20 lg:px-40 bg-local min-h-screen background-item h-auto">
        <!-- <img src="https://cdn.fs.teachablecdn.com/y7ws7yTMTBaPrPlGmgHk" alt data-target="" > -->
        <nav class="py-10 mb-12 justify-between dark:text-white">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
                    <a href="https://f-overseassolutions.fr" class="flex items-center">
                        <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="h-6 mr-3 sm:h-9" alt="F-Overseas S Logo" />
                        <span class="self-center text-3xl font-bold whitespace-nowrap text-white">F-Overseas Solutions</span>
                    </a>
                
                <div class="flex items-center">
                    <a href="tel:5541251234" class="mr-6 text-xl font-medium text-gray-500 dark:text-white hover:underline">Appeler maintenant</a>
                    <a href="#" class="text-xl font-medium text-blue-600 dark:text-blue-500 hover:underline">Obtenir un devis</a>
                </div>
            </div>        
        </nav>

        <div
          class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.75)"
        >
          <div class="flex justify-center items-center h-full">
            <div class="text-center text-white px-6 md:px-12">
              <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
                A vos côtés pour la création de <br /><span>votre présence numérique</span>
              </h1>
              <button
                type="button"
                class="inline-block px-7 py-3 border-2 border-white text-white font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                data-mdb-ripple="true"
                data-mdb-ripple-color="light"
              >
                Commencer
              </button>
            </div>
          </div>
        </div>
</main>